@import url('./_selected/link_selected.css');
.link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    opacity: 1;
    transition: opacity .3s;
}

.link:hover {
    opacity: .4;
    transition: opacity .5s;
}